.row {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerRow {
  display: flex;
  justify-content: flex-start;
}

.col2 {
  margin-left: 14px;
}

.noMarginText {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  margin-top: 8px;
}

/*TODO important because of tailwind integration with MUI*/
.fullPartP {
  color: white !important;
  display: inline;
}

.emptyPart {
  background-color: var(--ghost);
  position: relative;
}

.emptyPartP {
  display: inline-block;
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
}

.cashbox {
  border: 2px solid;
  text-align: end;
  display: inline-block;
}
