**/node_modules
**/.env
.pnpm-store/

.idea/
.settings/
.turbo/

packages/server/.lamassu
packages/server/certs/
packages/server/tests/stress/machines
packages/server/tests/stress/config.json
packages/typesafe-db/lib/
