.content {
  width: 820px;
}

.radioLabel {
  width: 280px;
  height: 48px;
}

.wrapper {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

.title {
  margin-left: 8px;
  margin-bottom: 5px;
}

.info {
  margin-top: 20px;
  margin-bottom: 20px;
}
